html{
  font-size:15pt;
}

body{
  margin-bottom:6rem;
}

li{
  padding:.5rem;
}

main{
  display:block;
  margin:auto;
  font-family: Georgia,serif;
}

footer{
  margin:auto;
}

nav{
  list-style:none;
  text-align:center;
  width:100%;
  padding:.5em 3em;
}

nav ls{
  margin-top:0;
  padding-bottom:3px;
  border-top:1px solid black;
  border-bottom:1px solid black;
}

nav li{
  display:inline;
}

li a{
  padding:3px 1em;
  text-decoration: none;
  display: inline-block;
  font-family:"Copperplate";
  color: #9A3533;
}

li a:visited{
  color: #C66143;
}

li a:hover{
  background-color: #742F2F;
  color: #FFFFFF;
}

.word-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.no-decor{
  list-style:none;
}

.narrow{
  max-width:400px;
}

.medium{
  width:100%;
  max-width:800px;
}

.wide{
  width=100%;
  max-width:1200px;
}
.pic-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

p{
  font-size: 1rem;
  font-family:Arial,sans-serif;
}

h1{
  font-size:2.1rem;
  font-weight:bold;
  text-align:center;
}

h2{
  font-size:1.8rem;
  font-weight:bold;
  border-top:3px solid #333333;
  text-align:center;
}

h3{
  font-size:1.6rem;
  font-weight:bold;
  border-top:2px solid #666666;
  text-align:center;
}

h4{
  font-size:1.4rem
  font-weight:bold;
  border-top:1px solid #999999;
  text-align:left;
}

h5{
  font-size:1.2rem;
  font-weight:normal;
  border-top:.5px solid #AAAAAA;
  text-align:left;
}

.rose{
  background-color: #d4c9c9;
}

.wide-image {
  width:100%;
  max-width:1200px;
  margin:auto;
}

.medium-image {
  width:100%;
  max-width:800px;
  margin:auto;
}

.narrow-image {
  display:block;
  max-width:400px;
  padding:5px;
}

.reallynarrow-image{
  display:block;
  max-width:250px;
  padding:5px;
}

.thenarrowest-image{
  display:block;
  max-width:120px;
  padding:0px;
}

.icon-image{
  display:block;
  max-width:100px;
  padding:0px;
}
.fullwidth-image{
  display:block;
  max-width:100%;
  width:100%;
}

.whitefont{
  color:#FFFFFF;
}

.tinyfont{
  font-size:.6rem;
}

.smallfont{
   font-size:.85rem;
 }

.bigfont{
  color:#333143;
  font-size:1.2rem;
  font-weight: bold;
}

.quoted{
  margin: 10%;
  font-size:.9rem;
  line-height: 1.6;
  font-family:Georgia;
  font-style:italic;
}

.straight-hugefont{
  font-size:1.6rem;
  line-height: 1.5;
  font-family:Georgia;
  font-weight:bold;
}
.lineup{
  display:inline-block;
}

.stacker{
  position:relative;
}

.overlaid{
  position:absolute;
}

.overlaid-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  text-align: center;
}

.h-centered{
  text-align:center;
  margin:auto;
}

.left{
  right:auto;
  left:0;
}

.right{
  left;auto;
  right:0;
}

.top{
  bottom:auto;
  top:0;
}

.bottom{
  top:auto;
  bottom:0;
}

.v-centered{
  top:auto;
  bottom:auto;
}

.sign-language-small{
  max-width: 75px;
  display:inline-block;
}

.pad{
  padding:1em;
}

.big-pad{
  padding:2.5em;
}

.bottom-pad{
  padding-bottom:1em;
}

.big-bottom-pad{
  padding-bottom:2.5em;
}

.top-pad{
  padding-top:1em;
}

.big-top-pad{
  padding-top:2.5em;
}
